<div class="page-header" id="about">
    <h2>Историческая интерактивная карта поселений Саратовской области</h2>
</div>
<div class="row">
    <div class="col-xs-6" style="text-align: justify;">
        <strong id="aboutProject">О проекте</strong>
        <p>На территории Саратовской области на протяжении всей ее истории существовало множество национальных
            поселений. Некоторые из них уже исчезли, другие переименованы, третьи перенесены на другое место.
            Информация об этих поселениях представляют огромную ценность для историков и этнографов, но найти ее
            можно только в архивах или в немногочисленных разрозненных публикациях разных лет</p>
        <p>Главной <strong>целью</strong> проекта <strong>«Историческая интерактивная карта поселений Саратовской
            области»</strong> является создание инструмента для простой и наглядной работы с
            архивными данными, а
            также создание отчётов, на основе результатов работы</p>
        <hr>
        <strong id="aboutTech">О технологиях</strong>
        <p>При разработке данного сайта использовались современные технологии <strong>FrontEnd</strong> разработки.
            Такие как <strong>AngularJs, Bootstrap, jQuery</strong>.</p>
        <p>В основе серверной состовляющей лежит фреймворк <strong>Jena</strong>, позволяющий использовать в данном
            проекте
            <strong>онтологический подход</strong> к хранению данных, что существенно расширяет возможности
            взаимодействия с
            данными</p>
        <hr>
        <strong id="aboutAuthors">Об авторах</strong>
        <p>Проект <strong>«Историческая интерактивная карта поселений Саратовской области»</strong> разрабатывается
            студентом кафедры <strong>«Прикладная информатика и программная инженерия»</strong> в качестве
            дипломного проекта«, совместно с кафедрой <strong>«История Отечества и культуры»</strong></p>
    </div>
    <div class="col-xs-6 text-center">
        <a href="#/tool">
            <img style="max-width:70%;" src="https://github.com/opaoz/curse/blob/master/public/images/map.PNG?raw=true"
                 alt="Интерактивная карта"><br>
            <i>Нажмите на изображении чтобы приступить к использованию</i>
        </a>
    </div>
</div>
<div class="navbar-fixed-bottom row-fluid text-center">
    &copy; 2016 год<br>
    СГТУ, Левин В.Е, Шульга Т.Э.
</div>