<!doctype html>
<html lang="ru" ng-app="App">
<head>
    <meta charset="UTF-8">
    <title>Map</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.css">
    <link rel="stylesheet" href="style/style.css"/>
    <style>
        html, body {
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body ng-controller="MainController as vm" ng-init="vm._init_()">
<map center="{{vm.map.center | LonLat}}" zoom="{{vm.map.zoom}}" class="map">
    <!--<shape name="polygon" paths="{{vm.paths}}" stroke-color="#FF0000" stroke-opacity="0.8" stroke-weight="2" fill-color="#FF0000" fill-opacity="0.35">
    </shape>-->
    <marker ng-repeat="mark in vm.markers" position="[{{mark.lat}}, {{mark.long}}]" title="{{mark.name}}"></marker>
</map>
<div class="year-slider" ng-init="isYearCollapsed=true">
    <div class="text-center h4 cp" style="display:block;" ng-click="isYearCollapsed = !isYearCollapsed">Year selector
    </div>
    <div uib-collapse="isYearCollapsed">
        <slider ng-model="vm.year" step="1" min="vm.minYear" max="vm.MAX_YEAR" value="Year"
                tooltip="show"></slider>
        <div class="labels clearfix"><span class="pull-left">{{vm.minYear}}</span><span class="pull-right">{{vm.MAX_YEAR}}</span>
        </div>
    </div>
</div>
<div class="types-slider" ng-init="isTypeCollapsed=true">
    <div class="text-center h4 cp" style="display:block;" ng-click="isTypeCollapsed = !isTypeCollapsed">Type selector
    </div>
    <div uib-collapse="isTypeCollapsed">
        <div class="checkbox" ng-repeat="(k,v) in vm.types track by $index">
            <label>
                <input type="checkbox" ng-model="vm.types[k]"> {{k}}
            </label>
        </div>
    </div>
</div>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/lodash/lodash.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="//maps.google.com/maps/api/js"></script>
<script src="bower_components/ngmap/build/scripts/ng-map.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.js"></script>
<script src="bower_components/angular-bootstrap-slider/slider.js"></script>

<script src="js/app.js"></script>
<!--Controllers-->
<script src="js/controllers/main.js"></script>

<!--Services-->
<script src="js/services/http-request.js"></script>
<script src="js/services/lodash.js"></script>
<script src="js/services/simple-tmpl.js"></script>

<!--Filters-->
<script src="js/filters/code-formatter.js"></script>
<script src="js/filters/trust-source.js"></script>
<script src="js/filters/lon-lat-formatter.js"></script>
</body>
</html>