/*.map, .year-slider, .types-slider {
    width: 800px;
    margin: 0 auto;
}*/

.lig {
    background: lightgray;
}

.h4 {
    padding: 5px;
}

.map {
    height: 470px;
}

.cp {
    cursor: pointer;
}