/*.map, .year-slider, .types-slider {
    width: 800px;
    margin: 0 auto;
}*/

.lig {
    background: lightgray;
}

.h4 {
    padding: 5px;
}

.map {
    height: 470px;
}

.cp {
    cursor: pointer;
}

.custom-marker {
    font-size: 2em;
    padding: 10px;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: #7F7F7F solid 1px;
    text-align: center;
}

.custom-marker:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    bottom: -6px;
    left: 50%;
}

.custom-marker:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 7px 6px 0;
    border-color: #7F7F7F transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -7px;
    left: 50%;
}

.custom-marker .circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: red;
    display: inline-block;
    vertical-align: middle;
}

custom-marker {
    display: none;
}